*,
*::after {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    overflow-y: hidden;
    height: 100vh;
}

div#root {
    background-color: #1e1e1e;
    color: #e9e9e9;
    font-family: sans-serif;
    overflow-y: hidden;
    height: 100%;

    display: flex;
    flex-direction: column;
}

.fullPane {
    height: 100%;
    width: 100%;
    max-height: 100svh;

    overflow-y: hidden;
}

.appNavbar {
    width: 100%;


    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;


}

.appNavbar .navButtons {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: end;
    height: 100%;

}

.appNavbar .navButtons button {
    background-color: transparent;
    border: none;

    font-size: 12pt;
    color: #a1a1a1;

    padding: 10px 28px;

    border-radius: 8px 8px 0 0;
}

.appNavbar .navButtons button:hover {
    cursor: pointer;
    background-color: #282828;
}

.appNavbar .navButtons button.current {
    background-color: #2c2c2c;
    
}

.appNavbar .characterDisplay {
    display: flex;
    flex-direction: row;

    border-radius: 8px;
    margin: 6px;
}

.appNavbar .characterDisplay:hover {
    display: flex;
    flex-direction: row;
    cursor: pointer;
    background-color: #2c2c2c;
}

.appNavbar .characterDisplay .info {
    display: flex;
    flex-direction: column;
    align-items: end;
    margin: 6px;
}

.characterDisplay .info .name {
    font-size: 14pt;
    color: #e9e9e9;
}

.characterDisplay .info .details {
    font-size: 11pt;
    font-weight: 600;
    color: #a1a1a1;
}

/* CHIP STYLING */

.chip {
    background-color: #404040;
    border-radius: 4px;
    padding: 2px 6px;
    margin: 0 3px;

    cursor: pointer;
    
    white-space: nowrap;


}

.chip.disabled {
    background-color: #1e1e1e;
    color: #a1a1a1;
    font-style: italic;
    cursor: default;
}


/* END CHIP STYLING */


/* LIST STYLING */

.listWrapper {
    background-color: #2c2c2c;
    padding: 16px;
    border-radius: 8px;
    margin-bottom: 20px;
    height: fit-content;
}

.listWrapper .titleWrapper {
    margin: 8px 0;
}

.listWrapper .titleWrapper .title {
    font-weight: bold;

}

.listWrapper table {
    height: fit-content;
    width: 100%;
    border-spacing: 0;
    overflow-y: scroll;
}

.listWrapper table thead {
    background-color: #393939;
}

.listWrapper table th {
    text-align: left;
    padding: 8px 2px;
}

.listWrapper table tbody {
    overflow-y: auto;
}

.listWrapper table tr {
    cursor: pointer;
}

.listWrapper table tr:hover {
    background-color: #353535;
}

.listWrapper table thead tr:hover {
    background-color: #393939;
}


.listWrapper table tr.selected {
    background-color: #404040;
}

.listWrapper table tr.doubleSelected {
    background-color: red;
}

.listWrapper table td {
    padding: 4px 2px;

}

.listWrapper .filters {
    margin: 12px 0;
}

.listWrapper .filters .filterChip:hover {
    text-decoration: line-through;
}

.listWrapper .selectedItems {
    margin: 12px 0;
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: 4px 6px;
}

.listWrapper .selectedItems .selectedChip {
    background-color: red;

}

.listWrapper .selectedItems .selectedChip:hover {
    text-decoration: line-through;
}

.listWrapper .selectedItems .selectedChip.disabled:hover {
    text-decoration: none;
}

/* END LIST STYLING */


/* INFO PANE STYLING */

.infoPane {
    width: 30%;
    min-width: 30%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding: 20px;
    padding-top: 0;
    padding-bottom: 50px;

    overflow: auto;

    background-color: #2c2c2c;
}

.infoPane.hidden {
    min-width: 0;
    width: 0;
}

.infoPane .header {
    display: flex;
    flex-direction: column;

    width: 100%;

    position: sticky;
    background-color: inherit;
    top: 0;
}

.infoPane .header .top {
    padding-top: 20px;
    padding-bottom: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    margin-bottom: 20px;

    height: fit-content;



}

.infoPane .header .titleWrapper {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.infoPane .header .title {
    font-size: 18pt;
}

.infoPane .header .subtitle {
    font-size: 12pt;
    font-weight: 700;
    color: #a1a1a1;
}

.infoPane .header .closeButton {}

.infoPane .attributes {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.infoPane .attributes .attribute {
    margin: 2px 4px;
}

.infoPane .description {
    margin-bottom: 20px;
    flex-shrink: 1;
}

.infoPane .source {
    margin-bottom: 20px;
}

/* END INFO PANE STYLING */


/* NAVBAR STYLING */

.creationNavbar {
    background-color: #2c2c2c;
    width: 100%;

    padding: 14px;
    margin-bottom: 18px;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    height: 60px;
}

.creationNavbar button {
    background-color: transparent;
    border: none;

    font-size: 14pt;
    font-weight: 600;
    color: #a1a1a1;

}

.creationNavbar button:hover {
    cursor: pointer;
    text-decoration: underline;
    text-decoration-thickness: 2px;

}

.creationNavbar button.current {
    color: inherit;
    text-decoration: underline;
    text-decoration-thickness: 2px;

}

/* END NAVBAR STYLING */


/* TAB STYLING */

.tab {
    display: flex;
    flex-direction: row;
    height: calc(99% - 60px);
}

.tab .main {
    flex-grow: 1;
    overflow: auto;
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    height: 100%;
}

.tab .main>.listWrapper {}

/* END TAB STYLING */